[submodule "python/packages/voronoi-diagram-for-polygons"]
	path = python/packages/voronoi-diagram-for-polygons
	url = https://github.com/longavailable/voronoi-diagram-for-polygons.git
[submodule "python/packages/adaptive-curvefitting"]
	path = python/packages/adaptive-curvefitting
	url = https://github.com/longavailable/adaptive-curvefitting.git
[submodule "python/packages/python-toolbox"]
	path = python/packages/python-toolbox
	url = https://github.com/longavailable/python-toolbox.git
[submodule "python/requests/population-and-gdp-crawler"]
	path = python/requests/population-and-gdp-crawler
	url = https://github.com/longavailable/population-and-gdp-crawler.git
